.simpleMenu {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.horizontalList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.menuItem {
  display: flex;
  align-items: center;
}

.ListItemText {
  white-space: nowrap; /* Evitar que los textos se dividan en varias líneas */
}
